<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>老爸的私房錢</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>

<body>

    <header>
        <nav class="navbar navbar-light bg-light py-5">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">家庭記帳本</a>
            </div>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <nav class="navbar navbar-light bg-light py-5">
            <div class="container-fluid justify-content-center">
                <a class="navbar-text" href="/">視覺設計/切版/程式設計/前後端整合：AOI</a>
            </div>
        </nav>
    </footer>

    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="//js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>

</html>