<div class="container">
    <div class="pt-3 m-3"><sup>*</sup>為必填</div>
    <form action="/record/edit/{{record.id}}" method="POST">
        <div class="form-group row">
            <label for="name" class="col-4 col-form-label">名稱<sup>*</sup></label>
            <div class="col-8">
                <input id="name" name="name" placeholder="輸入支出項目名稱" type="text" class="form-control" value="{{record.name}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="date" class="col-4 col-form-label">日期<sup>*</sup></label>
            <div class="col-8">
                <input id="date" name="date" placeholder="日期" type="text" class="form-control" value="{{record.date}}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="select" class="col-4 col-form-label">類別<sup>*</sup></label>
            <div class="col-8">
                <select name="category" id="category" class="form-control fas">
                    <option selected>選擇類別</option>
                    <option value="home"{{#if (eq record.category 'home')}}selected{{/if}}> &#xf015; 家居物業</option>
                    <option value="transportation"{{#if (eq record.category 'transportation')}}selected{{/if}}> &#xf5b6; 交通出行 </option>
                    <option value="entertainment"{{#if (eq record.category 'entertainment')}}selected{{/if}}> &#xf582; 休閒娛樂</option>
                    <option value="food"{{#if (eq record.category 'food')}}selected{{/if}}> &#xf2e7; 餐飲食品</option>
                    <option value="other"{{#if (eq record.category 'other')}}selected{{/if}}> &#xf304; 其他</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="amount" class="col-4 col-form-label">金額<sup>*</sup></label>
            <div class="col-8">
                <input id="amount" name="amount" placeholder="輸入數字" type="number" class="form-control" value="{{record.amount}}">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
                <button type="submit" class="button">送出</button>
            </div>
        </div>
    </form>
</div>